In [7]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression


# Load datasets
train_df_model_final = pd.read_csv("train_df_model_final.csv")
train_df_model_final.head()

train_df = pd.read_csv("train_df.csv")
train_df.head()

,Date,Total Revenue,CloudCover,Temperature,WindSpeed,WeatherCode,KielerWeek,Holiday,Easter,Year,...,Month,Lag7_Total_Revenue,IsNewYearsEve,IsHalloween,year_sin1,year_cos1,year_sin2,year_cos2,year_sin3,year_cos3
0,2013-07-01,1269.249107,6.0,17.8375,15.0,20.0,False,True,0.0,2013.0,...,7,NaN,False,False,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
1,2013-07-02,1430.008397,3.0,17.3125,10.0,NaN,False,True,0.0,2013.0,...,7,NaN,False,False,0.017202,0.999852,0.034398,0.999408,0.051584,0.998669
2,2013-07-03,1124.274894,7.0,21.0750,6.0,61.0,False,True,0.0,2013.0,...,7,NaN,False,False,0.034398,0.999408,0.068755,0.997634,0.103031,0.994678
3,2013-07-04,1184.309567,7.0,18.8500,7.0,20.0,False,True,0.0,2013.0,...,7,NaN,False,False,0.051584,0.998669,0.103031,0.994678,0.154204,0.988039
4,2013-07-05,1288.023060,5.0,19.9750,12.0,NaN,False,True,0.0,2013.0,...,7,NaN,False,False,0.068755,0.997634,0.137185,0.990545,0.204966,0.978769

In [13]:

# i want to merge Revenue prod 1, Revenue prod 2, Revenue prod 3 from train_df to train_df_model_final based on the common column date
train_df = pd.merge(train_df_model_final, train_df[['Date', 'Revenue prod 1', 'Revenue prod 2', 'Revenue prod 3', 'Revenue prod 4', 'Revenue prod 5', 'Revenue prod 6']], on='Date', how='left')
train_df.head()

# instead of having 6 separate revenue columns, i want to have a product category column in which each row indicates the product category (1 to 6) and a revenue column that indicates the revenue for that product category
train_df = pd.melt(train_df, id_vars=[col for col in train_df.columns if col not in ['Revenue prod 1', 'Revenue prod 2', 'Revenue prod 3', 'Revenue prod 4', 'Revenue prod 5', 'Revenue prod 6']], 
                          value_vars=['Revenue prod 1', 'Revenue prod 2', 'Revenue prod 3', 'Revenue prod 4', 'Revenue prod 5', 'Revenue prod 6'], 
                          var_name='Product Category', value_name='Revenue')
train_df['Product Category'] = train_df['Product Category'].str.replace('Revenue prod ', '').astype(int)
train_df.head()

,Date,Holiday,NextDayHoliday,IsWeekend,Month,KielerWeek,IsNewYearsEve,IsHalloween,t,lag_1,Lag7_Total_Revenue,roll7_mean,roll28_mean,year_sin1,year_cos1,year_sin2,year_cos2,Total Revenue,Product Category,Revenue
0,2013-07-01,True,True,False,7,False,False,False,0,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,1269.249107,1,148.828353
1,2013-07-02,True,True,False,7,False,False,False,1,1269.249107,NaN,NaN,NaN,0.017202,0.999852,0.034398,0.999408,1430.008397,1,159.793757
2,2013-07-03,True,True,False,7,False,False,False,2,1430.008397,NaN,NaN,NaN,0.034398,0.999408,0.068755,0.997634,1124.274894,1,111.885594
3,2013-07-04,True,True,False,7,False,False,False,3,1124.274894,NaN,NaN,NaN,0.051584,0.998669,0.103031,0.994678,1184.309567,1,168.864941
4,2013-07-05,True,True,False,7,False,False,False,4,1184.309567,NaN,NaN,NaN,0.068755,0.997634,0.137185,0.990545,1288.023060,1,171.280754

In [ ]:
# now i delete the total revenue column
train_df = train_df.drop(columns=['Total Revenue'])

KeyError: "['Total Revenue'] not found in axis"

In [ ]:
train_df.head()

# i delete Lag7_Total_Revenue column
train_df = train_df.drop(columns=['Lag7_Total_Revenue'])
train_df.head()

,Date,Holiday,NextDayHoliday,IsWeekend,Month,KielerWeek,IsNewYearsEve,IsHalloween,t,lag_1,roll7_mean,roll28_mean,year_sin1,year_cos1,year_sin2,year_cos2,Product Category,Revenue
0,2013-07-01,True,True,False,7,False,False,False,0,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,1,148.828353
1,2013-07-02,True,True,False,7,False,False,False,1,1269.249107,NaN,NaN,0.017202,0.999852,0.034398,0.999408,1,159.793757
2,2013-07-03,True,True,False,7,False,False,False,2,1430.008397,NaN,NaN,0.034398,0.999408,0.068755,0.997634,1,111.885594
3,2013-07-04,True,True,False,7,False,False,False,3,1124.274894,NaN,NaN,0.051584,0.998669,0.103031,0.994678,1,168.864941
4,2013-07-05,True,True,False,7,False,False,False,4,1184.309567,NaN,NaN,0.068755,0.997634,0.137185,0.990545,1,171.280754

In [20]:
# i download the final train_df to a csv file
train_df.to_csv("train_df_adjusted.csv", index=False)

In [22]:
# loading test.csv file

test_df = pd.read_csv("test.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'test.csv'

In [25]:
import pandas as pd
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

# -----------------------------
# 1) Correct file paths
# -----------------------------
train_path = "/workspaces/TeamCPH/train_df_adjusted.csv"
test_path  = "/workspaces/TeamCPH/data/test.csv"

train_df = pd.read_csv(train_path)
test_df  = pd.read_csv(test_path)

print("Train columns:", train_df.columns.tolist())
print("Test columns:", test_df.columns.tolist())


# --------------------------------------
# 2) Handle potential German headers
# --------------------------------------
# Date column could be: "Datum" (German) or "Date" (English)
# Product category could be: "Warengruppe" (German) or "Product Category"
# ID column might be: "id", "ID", or "Id"

date_col_test = "Datum" if "Datum" in test_df.columns else "Date"
prod_col_test = "Warengruppe" if "Warengruppe" in test_df.columns else "Product Category"

if "id" in test_df.columns:
    id_col = "id"
elif "ID" in test_df.columns:
    id_col = "ID"
elif "Id" in test_df.columns:
    id_col = "Id"
else:
    raise ValueError("Could not find an ID column in test.csv. Expected: id / ID / Id")


# --------------------------------------
# 3) Convert date columns to datetime
# --------------------------------------
train_df["Date"] = pd.to_datetime(train_df["Date"])
test_df[date_col_test] = pd.to_datetime(test_df[date_col_test])


# --------------------------------------
# 4) Feature engineering (train & test)
# --------------------------------------
def add_time_features(df, datecol):
    d = df[datecol]
    df = df.copy()

    df["dow"] = d.dt.dayofweek
    df["month"] = d.dt.month
    df["day"] = d.dt.day
    df["weekofyear"] = d.dt.isocalendar().week.astype(int)
    df["year"] = d.dt.year

    doy = d.dt.dayofyear
    df["doy_sin"] = np.sin(2 * np.pi * doy / 365.25)
    df["doy_cos"] = np.cos(2 * np.pi * doy / 365.25)

    df["is_weekend"] = (df["dow"] >= 5).astype(int)

    return df


train_feat = add_time_features(train_df, "Date")
test_feat  = add_time_features(test_df, date_col_test)


# --------------------------------------
# 5) Prepare X and y
# --------------------------------------
# Target column in training data must be "Revenue"
if "Revenue" not in train_feat.columns:
    raise ValueError("Training file does not contain a 'Revenue' column.")

y = train_feat["Revenue"]

# Standardize product category column name
# In your training file it should be "Product Category"
if "Product Category" not in train_feat.columns:
    raise ValueError("Training file does not contain 'Product Category' column.")

train_feat["product"] = train_feat["Product Category"]
test_feat["product"]  = test_feat[prod_col_test]

feature_cols = [
    "dow", "month", "day", "weekofyear", "year",
    "doy_sin", "doy_cos", "is_weekend", "product"
]

X_train = train_feat[feature_cols]
X_test  = test_feat[feature_cols]


# --------------------------------------
# 6) Preprocessor + model pipeline
# --------------------------------------
cat_features = ["product"]
num_features = [c for c in feature_cols if c not in cat_features]

preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_features),
        ("num", "passthrough", num_features)
    ]
)

model = RandomForestRegressor(
    n_estimators=400,
    random_state=42,
    n_jobs=-1
)

pipeline = Pipeline(steps=[
    ("preprocess", preprocessor),
    ("model", model)
])

# --------------------------------------
# 7) Train + predict
# --------------------------------------
pipeline.fit(X_train, y)
predictions = pipeline.predict(X_test)

# --------------------------------------
# 8) Export predictions
# --------------------------------------
output = pd.DataFrame({
    "id": test_df[id_col],
    "Revenue": predictions
})

out_path = "/workspaces/TeamCPH/predictions.csv"
output.to_csv(out_path, index=False)

print(f"Saved predictions to: {out_path}")
output.head()

Train columns: ['Date', 'Holiday', 'NextDayHoliday', 'IsWeekend', 'Month', 'KielerWeek', 'IsNewYearsEve', 'IsHalloween', 't', 'lag_1', 'roll7_mean', 'roll28_mean', 'year_sin1', 'year_cos1', 'year_sin2', 'year_cos2', 'Product Category', 'Revenue']
Test columns: ['id', 'Datum', 'Warengruppe']
Saved predictions to: /workspaces/TeamCPH/predictions.csv

        id     Revenue
0  1808011  152.761946
1  1808021  177.916736
2  1808031  172.598828
3  1808041  188.703680
4  1808051   70.149884